@mixin c-flex($flow: row nowrap, $j-c: center, $a-c: center, $a-i: center){
    display: flex;
    flex-flow: $flow;
    justify-content: $j-c;
    align-content: $a-c;
    align-items: $a-i;
}
@mixin c-flex-center($flow: row nowrap){
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: $flow;
}
@mixin c-flex-center-vnh($flow: row nowrap, $j-c: space-around){
    display: flex;
    align-items: center;
    align-content: center;
    flex-flow: $flow;
    justify-content: $j-c;
}
@mixin c-box($display-type: block, $bg-colour: transparent, $height: 100px, $width: 100px, $b-r: 0px){
    display: $display-type;
    background-color: $bg-colour;
    height: $height;
    width: $width;
    border-radius: $b-r;
}
@mixin c-pos($top, $right: $top, $bottom: $top, $left: $right) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
 }
// mixin shapes for future use






 @mixin c-respond($breakpoint) {
    @if($breakpoint == large-screen)  {
        @media only screen and (min-width: 1441px){ 
            @content 
        }
    }
    @if($breakpoint == laptop)  {
        @media only screen and (min-width: 1025px) and (max-width: 1440px) { 
            @content 
        }
    }
    @if($breakpoint == sm-laptop)  {
        @media only screen and (min-width: 801px) and (max-width: 1024px) { 
            @content 
        }
    }
    @if($breakpoint == tablet)  {
        @media only screen and (min-width: 550px) and (max-width: 800px){
            @content
        }
    }
    @if($breakpoint == lrg-mobile)  {
        @media only screen and (min-width: 376px) and (max-width: 550px){
            @content
        }
    }
    @if($breakpoint == med-mobile)  {
        @media only screen and (min-width: 321px) and (max-width: 376px){
            @content
        }
    }
    @if($breakpoint == sm-mobile)  {
        @media only screen and (max-width: 320px){
            @content
        }
    }
    @if($breakpoint == all-mobile)  {
        @media only screen and (max-width: 800px){
            @content
        }
    }
}